:root {
    --dark: #333;
    --darkish: #666;
    --light: #fefefe;
    --wicow-blue: #3FD1FF;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

body { padding: 1rem; }

a {
    color: var(--wicow-blue);
}

* {
    box-sizing: border-box;
}

h1 { 
    font-weight: 500;
    font-size: 5rem;
    line-height: 4rem;
    margin: 2rem 0;
    letter-spacing: -0.1ch;
    hyphens: auto;
}

h2 {
    font-weight: 300;
    line-height: 2rem;
    font-size: 2rem;
    margin: 2rem 0;
}

p, ul, ol {
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.25rem;
    margin: 2rem 0;
    padding-left: unset;
}

p + ul, p + ol {
    margin-top: -2rem;
}

ul.ellipsis { list-style: none }
ul.ellipsis > li:before { content: "…"; } 

em { 
    all: unset;
    color: var(--wicow-blue);
}

section + section {
    margin-top: 8rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

nav.locale {
    display: flex;
    border: solid .2rem var(--darkish);
    padding: .1rem;
    gap: .1rem;
    border-radius: .4rem;
    height: 3rem;
    align-items: stretch;
}

nav.locale a {
    display: block;
    color: var(--darkish);
    width: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.3rem;
    border-radius: .2rem
}

nav.locale a.current {
    background-color: var(--wicow-blue);
    color: var(--dark);
}

@media only screen and (min-width: 24rem) {
    body {
        padding: clamp(1rem, 4vw, 3rem);
    }

    section h1 {
        position: relative;
        padding-right: 20vw;
    }

    section h1:after {
        position: absolute;
        right: 0; bottom: 0;
    }

    #know-your-cows h1:after {
        content: url("/pictograms/sitting-cow-and-calf.svg");
    }

    #sit-back-and-relax h1:after {
        content: url("/pictograms/felix.svg");
    }

}