:root {
    --dark: #333;
    --darkish: #666;
    --light: #fefefe;
    --wicow-blue: #3FD1FF;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

body { padding: 1rem; }

a {
    color: var(--wicow-blue);
}

* {
    box-sizing: border-box;
}

h1 { 
    font-weight: 500;
    font-size: 5rem;
    line-height: 4rem;
    margin: 2rem 0;
    letter-spacing: -0.1ch;
    hyphens: auto;
}

h2 {
    font-weight: 300;
    line-height: 2rem;
    font-size: 2rem;
    margin: 2rem 0;
}

p, ul, ol {
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.25rem;
    margin: 2rem 0;
    padding-left: unset;
}

p + ul, p + ol {
    margin-top: -2rem;
}

ul.ellipsis { list-style: none }
ul.ellipsis > li:before { content: "…"; } 

em { 
    all: unset;
    color: var(--wicow-blue);
}

section + section {
    margin-top: 8rem;
}