:root {
    --dark: #333;
    --darkish: #666;
    --light: #fefefe;
    --wicow-blue: #3FD1FF;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

body { 
    padding: 1rem;
    max-width: 168rem;
    margin: 0 auto;
}

a {
    color: var(--wicow-blue);
}

* {
    box-sizing: border-box;
}

h1 { 
    font-weight: 500;
    font-size: 5rem;
    line-height: 4rem;
    margin: 2rem 0;
    letter-spacing: -0.1ch;
    hyphens: auto;
}

h2 {
    font-weight: 300;
    line-height: 2rem;
    font-size: 2rem;
    margin: 2rem 0;
}

p, ul, ol {
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.25rem;
    margin: 2rem 0;
    padding-left: unset;
    list-style-position: inside;
}

::marker {
    color: var(--darkish);
    font-weight: 900;
}

ul.ellipsis { list-style: none }
ul.ellipsis > li:before { content: "…"; } 

em { 
    all: unset;
    color: var(--wicow-blue);
}

section + section {
    margin-top: 8rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

nav.locale {
    display: flex;
    border: solid .2rem var(--darkish);
    padding: .1rem;
    gap: .1rem;
    border-radius: .4rem;
    height: 3rem;
    align-items: stretch;
}

nav.locale a {
    display: block;
    color: var(--darkish);
    width: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.3rem;
    border-radius: .2rem
}

nav.locale a.current {
    background-color: var(--wicow-blue);
    color: var(--dark);
}

#simple ol {
    list-style: none;
    counter-reset: count;
}

#simple ol li {
    margin-top: 2rem;
    counter-increment: count;
    position: relative;
    z-index: 0;
    break-inside: avoid;
}

#simple ol li::before {
    color: var(--darkish);
    font-size: 8rem;
    line-height: 6rem;
    font-weight: 900;
    content: counter(count);
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}

@media only screen and (min-width: 24rem) {
    body {
        padding: clamp(1rem, 4vw, 3rem);
    }

    section h1 {
        position: relative;
        padding-right: 20vw;
    }

    section h1:after {
        position: absolute;
        right: 0; bottom: 0;
        top: 0; left: 0;
        background-repeat: no-repeat;
        background-position: bottom right;
        content: "";
    }

    #know-your-cows h1:after {
        background-image: url("/pictograms/sitting-cow-and-calf.svg");
    }

    #sit-back-and-relax h1:after {
        background-image: url("/pictograms/felix.svg");
    }

    #simple ol li { padding-left: 5rem; }
    
    #simple ol li:after {
        content: " ";
        width: 4rem;
        height: 100%;
        position: absolute;
        left: 0; bottom: 0;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    #simple ol li:nth-child(1):after {
        background-image: url("/pictograms/tsens.svg")
    }
    #simple ol li:nth-child(2):after {
        background-image: url("/pictograms/cloud.svg")
    }
    #simple ol li:nth-child(3):after {
        background-image: url("/pictograms/mobile-notifications.svg")
    }
}

@media only screen and (min-width: 48rem) {
    section {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 1rem;
        margin-top: 3rem;
        grid-template-rows: 4rem;

    }
    section > * {
        grid-column: 2;
        margin: 0;
    }
    section > h1 {
        grid-column: 1;
        grid-row: 1 / span 2;
        padding-right: 0;
        align-self: start;
    }
    section > h1:after {
        top: 100%;
        left: 0;
        height: 100%;
        margin-top: -1rem;
        background-position: top left;
    }
}

@media only screen and (min-width: 48rem) and (max-width: 71.99rem) {
    #simple ol li {
        padding-left: unset;
    }

    #simple ol li:before {
        right: calc(100% + 1rem);
        left: unset;
    }

    #simple ol li:after {
        right: calc(100% + 8rem);
        left: unset;
        height: 6rem;
        background-position: right bottom;
        top: 0;
    }
}

@media only screen and (min-width: 72rem) {
    section, header {
        padding-left: calc(40vw - 6rem);
    }

    header > img {
        transform-origin: left;
        transform: scale(1.5);
    }

    section {
        display:block;
        position: relative;
        columns: 2;
        column-gap: 2rem;
    }

    section > * {
        margin: 2rem 0;
    }

    section > h1 {
        font-size: 5rem;
        position: static;
    }

    section > h1,
    section > h2 {
        column-span: all;
    }

    section > h1:after {
        left: unset;
        right: calc(60vw + 3rem);
        top: -2rem;
        width: 20%;
        height: 18rem;
        background-size: contain;
        background-position: top right;
    }

    section > p {
        widows: 3;
        orphans: 3;
    }

    section > h2 + p {
        margin-top: 0;
    }
}

@media only screen and (min-width: 96rem) {
    section, header {
        padding-left: calc(25vw - 6rem);
    }

    section {
        columns: 3;
        column-gap: 3rem;
    }

    section > * {
        margin: 3rem 0;
    }

    section > h1 {
        font-size: 6rem;
    }

    section > h1:after {
        width: 15%;
        right: calc(75vw + 3rem);
    }

    section > h2 {
        font-size: 3rem;
    }

    section > p {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}